body{
  max-width: 650px;
  margin: auto;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: maroon;
}

h3, h5{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Trirong', serif;
}

